<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfd.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.dfd.entity.Member" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="room" jdbcType="VARCHAR" property="room" />
    <result column="post_title" jdbcType="VARCHAR" property="postTitle" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="technical_position" jdbcType="VARCHAR" property="technicalPosition" />
    <result column="ranks" jdbcType="VARCHAR" property="ranks" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
  </resultMap>


</mapper>